body {
    padding: 0.25rem;
}

#mainDiv {
    display: grid;
    text-align: center;
    grid-template-columns: 2fr 1fr;
}
article {
    margin: 0.25rem;
}

canvas {
    background-color: white;
    margin: 0.25rem;
}